html,body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    height: 100%;
    padding: 0;
    margin: 0;
  }
  
  .email-input,
  .password-input {
    border-radius: 40px;
    font-size: 20px;
    padding-left: 15px;
    color: #95A5A6;
  }
  
  .icon.user,
  .icon.password {
    margin: 5px 10px 0 0;
  }
  
  .avatar img {
    border-radius: 100px;
    padding: 5px;
    border: 1px solid #dbdbdb;
  }
  
  .forgot-password a {
    color: #95A5A6;
    font-weight: bold;
    padding-right: 20px;
  }
  
  .login {
    padding-top: 20px;
  }
  
  .login button {
    border-radius: 40px;
    font-weight: bold;
  }
  
  .hero-body .container {
    margin-top: -100px;
  }
  
  .hero.is-dark .section {
    background-color: transparent;
  }
  
  .login-wrapper {
    margin: -0.75rem;
    overflow-y: hidden;
  }
  
  .hero-banner .hero {
    background: url('https://unsplash.it/2000/1000');
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
  }
  
  .hero-banner .title {
    display: inline-block;
    background-color: rgba(0,0,0, 0.6);
    padding: 5px;
  }